.about {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em 0.2em 4em 0em;
  gap: 2em;
  color: white;
  background-color: rgba(39, 40, 92, 1);

  &__headline {
    h1 {
      text-align: center;
      line-height: 1.8;
      position: relative;
    }

    h1::after {
      content: "";
      position: absolute;
      inset: auto auto -0.2em 0.76em;
      width: 90%;
      height: 5px;
      background: white;
    }
    p {
      margin-top: 1.455em;
      font-size: 1.255rem;
      color: rgba(255, 255, 255, 0.699);
    }
  }

  &__layout {
    display: flex;
    justify-content: space-evenly;

    &__desc {
      width: 45%;
      p {
        text-align: justify;
        line-height: 1.6;
      }
    }

    &__profile {
      width: 40%;
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 600px) {
  .about {
    height: auto;
    &__layout {
      display: grid;
      padding: 1em;
      &__desc {
        width: 95%;
      }
      &__profile {
        width: 95%;
      }
    }
  }
}
