//***************************************************//
//***************************************************//
//***************************************************//
//***************************************************//
//***************************************************//

.contact {
  padding: 2em 0.2em 1em 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: rgba(39, 40, 92, 1);
  color: white;

  &__headline {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }

  &__form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: 100%;

    h1 {
      width: 40%;
      text-align: center;
      font-size: 80vw / 2;
    }

    form {
      width: 50%;
    }

    input[type="text"] {
      width: 80%;
      padding: 1em;
      outline: 0;
      border: 0;
      font-size: 0.855rem;
      font-weight: bold;
    }

    textarea {
      width: 80%;
      padding: 1em;
      outline: 0;
      border: 0;
      font-family: "Epilogue";
      font-weight: 400;
      font-size: 1.125rem;
    }

    .submit-btn {
      display: block;
      width: 80%;
      padding: 1em;
      border: 0;
      margin: 1em 0em;
      cursor: pointer;
      color: rgba(39, 40, 92, 1);
      font-weight: bolder;
      font-size: 1rem;
      font-family: "Epilogue";
      border: 0;
    }

    span {
      display: block;
      padding: 1em 0em;
    }
  }
  &__modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-container {
      width: 50%;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      position: relative;
      padding: 1em;
      color: rgba(39, 40, 92, 1);
      background: white;
      animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

      .success-icon {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      .close-icon {
        cursor: pointer;
        position: absolute;
        inset: 0.755rem 0.5rem auto auto;
      }
    }
  }
}

@media (max-width: 600px) {
  .contact {
    &__form {
      display: grid;
      h1 {
        width: 100%;
      }
      form {
        width: 100%;
        padding: 0em 1em;
        input[type="text"] {
          width: 90%;
        }
        textarea {
          width: 90%;
        }
        button {
          width: 90%;
        }
      }
    }
  }
}

/*********** Animation **************/

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
