//***************************************************//
//***************************************************//
//***************************************************//
//***************************************************//
//***************************************************//

.projects-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em 0.5em;
  width: 100%;
  background-color: white;

  h1 {
    position: relative;
    margin-bottom: 1rem;
  }

  h1::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 5px;
    inset: auto auto -1rem -2rem;
    background-color: rgba(39, 40, 92, 1);
  }

  p {
    margin-bottom: 1em;
    text-align: center;
  }

  &__projectsList {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}

@media (max-width: 600px) {
  .projects-section {
    &__projectsList {
      display: grid;
    }
  }
}
