//***************************************************//
//***************************************************//
//***************************************************//
//***************************************************//
//***************************************************//

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9rem;
  padding: 2em 0.2em 4em 0.2em;

  h1 {
    position: relative;
    margin-bottom: 1rem;
  }

  h1::after {
    content: "";
    position: absolute;
    inset: auto auto -1rem -2rem;
    width: 200%;
    height: 5px;
    background-color: rgba(39, 40, 92, 1);
  }
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@media (max-width: 600px) {
  .cards-container {
    display: grid;
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
